apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: hashicorp/http-echo
        env:
        - name: DATABASE_URL
          value: "postgres://postgres:supersecure@my-postgres-postgresql.default.svc.cluster.local:5432/postgres"
        ports:
        - containerPort: 3000
