apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend-ingress
  namespace: default
  kubernetes.io/ingress.class: "nginx"  # or your ingress controller
  nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - host: dont-have-domain.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
